{% extends 'base.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center col-12">Réinitialiser votre mot de passe</h1>
            <div class="col-4">
                {{ form_start(form) }}
                {{ form_row(form.email,{ 'attr': {'placeholder': 'Ajouter votre email'}}) }}
                {{ form_row(form.pseudo,{ 'attr': {'placeholder': 'Ajoutez votre nom'}}) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-outline-success">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}