    <div class="row">
        <div class="col-12">
            <h3>
                Il n'y a pas encore de figure enregistrées pour l'instant,
            </h3>
            <p>
                <a href="{{ path('addtrick') }}" role="button">
                    <button class="btn btn-outline-primary">Ajouter une figure</button></a>
            </p>
        </div>
    </div>