    <div class="row justify-content-center ">
        <div class="col-6 ">
            <h3>
                Il n'y a pas encore de figure enregistrée pour l'instant.
            </h3>
            <p>
                <a href="{{ path('addtrick') }}" role="button">
                    <button class="btn btn-outline-primary">Ajouter une figure</button></a>
            </p>
        </div>
    </div>