.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullimage{
    height: 100vh;
}
.bg {
    background-image: url("https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg");
    height: 93vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtrick{
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.centeredright {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: #00B8F5;
}

body {
    margin-top: 56px;
}

.test, .cattrick{
    display: inline-block;
    border: solid 5px;
}

.commentinblock{
    display: inline-block;
}

.trickblock{
    border: solid 2px black;
    border-radius: 1%;
    z-index: 1;
    top: 20%;
    background-color: white;

}

.userimg{
    max-width: 65px;
    display: block;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    z-index: 8;
    background-color: black;
}

.titletrick{
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

/*
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
}*/

.d-inline-block
{
    padding: 2px;
}
