.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullimage{
    height: 100vh;
}
.bg {
    /* The image used */
    background-image: url("https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg");

    /* Full height */
    height: 93vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtrick {
    /* The image used */
    /*background-image: url("https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg");*/

    /* Full height */
    height: 50vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: #00B8F5;
}

body {
    margin-top: 56px;
}

.trickblock{
}

.test, .cattrick{
    display: inline-block;
    border: solid 5px;
}

.commentinblock{
    display: inline-block;
}
.descfigure{

}

.trickblock{
    border: solid 4px red;
    z-index: 1;
}

.blocktrickview{
    z-index: 0;
}

.userimg{
    max-width: 65px;
}