.fullimage{
    height: 100vh;
}
.card_video {
    max-width: 22.5rem;
}

.bg {
    background-image: url("https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg");
    height: 93vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtrick{
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    z-index: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.centered_custum{
    position: relative;
    bottom: 15em;
    left: 50%;
}

.centeredright {

}

body {
    margin-top: 56px;
}


.commentinblock{
    display: inline-block;
}

.imagebackgroundtrick{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    z-index: 0;
}

.trickblock{
    border: solid 2px black;
    border-radius: 1%;
    z-index: 1;
    background-color: white;
    height: 100%;
    position: relative;

}

.userimg{
    max-width: 65px;
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    z-index: 8;
    background-color: black;
}

.titletrick{
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}


.d-inline-block
{
    padding: 2px;
}

.dashboard_block_card{
    padding-top: 15px;
}

.imgtrick, .videotrick{
    padding: 5px;

}

.imgtrick{
    max-height: 180px;
    max-width: 180px;
    padding: auto;
    margin: auto;
}

.card{
    width: 18rem;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: #00B8F5;
}

.img_first_trick{
}
.box_buttons_edit_delete{
    position: absolute;
    top: 2%;
    right: 1%;
}
.media_list{
    border-top: 2px solid;
}


.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
/*.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}*/
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

