<<<<<<< HEAD
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{margin-top:20px;}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
=======
.fullimage{
    height: 100vh;
}

.bg {
    background-image: url("https://www.imperiumsnow.com/upload/content_team_082817_47898_snowboard_rocker_lg.jpg");
    height: 93vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgtrick{
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.centeredright {
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    color: #00B8F5;
}

body {
    margin-top: 56px;
}


.commentinblock{
    display: inline-block;
}

.trickblock{
    border: solid 2px black;
    border-radius: 1%;
    z-index: 1;
    top: 20%;
    background-color: white;

}

.userimg{
    max-width: 65px;
    min-width: 65px;
    max-height: 65px;
    min-height: 65px;
}

#footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    z-index: 8;
    background-color: black;
}

.titletrick{
    font-size: x-large;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}


.d-inline-block
{
    padding: 2px;
}

.dashboard_block_card{
    padding-top: 15px;
>>>>>>> Massive commit after reinstallation of the project on a new depot
}