<div style="text-align: center; padding-bottom: 10px;">
    <div><a href="www.google.com"><img class="alignnone wp-image-677" src="http://kpriscd.cluster020.hosting.ovh.net/wp-content/uploads/2019/10/Grand-prix-2019-TopRak-209x300.png" alt="" width="119" height="170" /></a></div>
    <div><img class="alignnone wp-image-677" src="http://kpriscd.cluster020.hosting.ovh.net/wp-content/uploads/2019/10/2019-GRAND PRIX.png" alt="" width="119" height="170" /></div>
</div>