{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row ">
            <div class="col-md-12">
                <div class="text-center py-4">
                    <button class="btn btn-primary btn-md">Envoyer <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h1>test</h1>
{% endblock %}
